@use 'dv-globals/dv-globals' as *;

@use 'custom/main' as *;

#waehlerwanderung {
  max-width: 1280px;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  background-color: var(--dv-white);
  color: var(--dv-black);
  font-family: $sans;
  font-size:18px;
}

.wwContainer {
  max-width: 1280px;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  background-color: var(--dv-white);
  color: var(--dv-black);
  font-family: $sans;
  font-size:18px;
}
